@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');


h1 {

  font-size:  40px;
  font-weight: bold;
  font-family: 'Hahmlet', serif;
  
}

p {

  position: absolute;
  left: 700px;
  color : gold;
}



section {

  width: 1900px;
  height: 1330px;
  border: 1px solid #000;
  background-image: url(img/party.jpg);
  background-repeat: no-repeat;
  background-size : contain;

}

.party_door {
  position: absolute;
  top : 110%;
  left : 43%;
}

.party_door_text {
  position: absolute;
  top : 50%;
  left : 20%;
}

.book_door {
  position: absolute;
  top : 120%;
  left : 85%;
}

.book_door_text {
  position: absolute;
  top : 50%;
  left : 20%;
}
