
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');

h1 {

  font-size:  40px;
  font-weight: bold;
  font-family: 'Hahmlet', serif;
  text-align: center;
}


h3 {
  position: absolute;
  font-weight: bold;
  font-family: 'Hahmlet', serif;
  text-align: left;
  top : 50%;
}




#book{
  position: absolute; 
  background-image: url(img/book.jpg);
  width: 1900px;
  height: 200px;
  top: -5%;

}
p {
  position: absolute;
  top: 20%;
  left: 30%;
  line-height: normal;
  text-align: center;
}

#scout {
  position: absolute;

  width: 2000px;
  height: 300px;
  top: 120%;
  background-repeat: no-repeat;
  
}

section {
  width: 2000px;
  height: 1800px;
  background-image: url(img/sky.jpg);


}



ul{

  position: absolute;
  bottom: 70%;
  left : 75%; 
  display: flex;
  list-style: none;
  text-align: center;
  }

  ul h1 {

    margin-left: 80px;
    
  }

