h1 {

  font-size:  40px;
  font-weight: bold;
  font-family: 'Hahmlet', serif;
  text-align: center;
}

section {

  width: 1900px;
  height: 1500px;
  border: 1px solid #000;
  background-image: url(img/partyhole.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 

}

ul{

  position: absolute;
  bottom: 70%;
  left : 85%;
  }

  .book_door {
    position: absolute;
    top : 150%;
    left : 90%;
  }
  
  .book_door_text {
    position: absolute;
    top : 50%;
    left : 20%;
  
  }
